@use 'config/reset';
@use 'config/variaveis';
@use 'sass:math';

@mixin elementoForm($margin: 16px) {
    padding: 2px;
    display: block;
    width: 100%;
    margin-bottom: $margin;
}

@function pixelParaEm($alvoEmPixel, $contextoEmPixel: 16px) {
    @return math.div($alvoEmPixel, $contextoEmPixel)+em;
}

body {
    background-color: #fff;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    padding: 16px 0;
    background-color: variaveis.$corPrincipal;
    text-align: center;
}


.slider {
    padding: 20px;
    margin: 0 auto;
    width: 1200px;
    height: 600px;
    overflow: hidden;

}

.slides {
    width: 500%;
    height: 400px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
}

.slide img {
    width: 15px;
}

.manual-navigation {
    position: absolute;
    width: 1200px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #FFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #fff;
}

#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -25%;
}
#radio3:checked ~ .first{
    margin-left: -50%;
}




.form-container {
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;

    h2 {
        font-size: pixelParaEm(40px);
        text-align: center;
    }

    form {
        width: 100%;
        max-width: 200px;
        margin-top: 20px;

        label {
            font-weight: bold;
            cursor: pointer;
        }

        input {
            @include elementoForm();
            background-color: transparent;
            border: none;
            border-bottom: 3px solid variaveis.$corPrincipal;
        }

        button {
            @include elementoForm();
            background-color: variaveis.$corSecundaria;
            border: none;
            cursor: pointer;
            font-size: 20px;
            font-weight: bold;
            color: #000;

            &:hover {
                background-color: lighten(variaveis.$corSecundaria, 10%);
            }
        }
    }
}

@media screen and (max-width: variaveis.$mobile) {
    .container {
        max-width: 80%;
    }
}

@media screen and (max-width: variaveis.$tablet) {
    .container {
        max-width: 80%;
    }
}